@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.project-main{
    background-color: #111;
}
.project-main img{
    max-width: 410px;
    border-radius:07px;
    height:340px;
    cursor: pointer;
    transition: transform .2s;
}

.project-main img:hover{
    /* width:500px */
    transform: scale(1.05);
}
.title{
    /* font-family: 'Pacifico', cursive; */
    color: #ffb400;
}