@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.about-main{
    background-color: #222B45;
}
.experience{
    border-right:1px solid #ffb400
}
.title{
    /* font-family: 'Pacifico', cursive; */
}
.progress-bar{
    background-color: #ffb400!important
}
body{
    background-color: #222B45;
}
.about-me img{
    width:420px;
    height: 420px;
    margin-bottom: 2rem!important
}
@media screen and (max-width: 600px){
    .about-me img{
        max-width: 320px;
        height: 340px
    }
}

.about-text{
    font-size: 20px;
    text-align: justify!important;
}
@media screen and (max-width: 768px){
    .experience{
        border-right: none;
    }
    .exp{
        display:flex;
        justify-content: start;
        
    }
    .edu, .exp{
        margin-bottom: 10px!important;
        
    }
    .experience, .education{
        margin: 20px;
    }
    .about-text{
        margin: 20px 40px!important;
        text-align: justify!important;
    }
    #edu-text, #exp-text{
        text-align: justify!important;
        margin-right: 25px!important;
    }
}
.pg-bar{
    transition: transform .2s;
}
.pg-bar:hover{
    transform: scale(1.03);
}