
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.projectDetails{
    background-color: #111;
    color: white
}
li{
    list-style:none;
}
.projectDetails img{ 
    width: 450px;
    height: 200px;
    border-radius:7px
}
@media screen and (max-width:600px){
    .projectDetails img{
        width: 400px!important;
        height: 200px!important;
    }
}
.live-link{
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    color: #ffb400;
}
.live-link:hover{
    color: white;
}
.half-width{
    border-right: 1px solid #ffb400;
}
@media screen and (max-width: 600px){
    .half-width{
        border-right: none;
    }
}

.name{
    font-family: 'Pacifico', cursive;
    color: #ffb400;
}