@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
}
.logo{
    /* width: 18.25rem; */
    font-family: 'Pacifico', cursive;
    font-size: 34px;
}
.navi{
    padding : 15px;
}
nav .nav-link{
    font-weight: 700;
    letter-spacing: 0.6px;
    color: #ffb400!important;
    padding: 8px 17px!important;
    border-top: 0.1875rem solid #222B45;
   
}
/* nav .nav-link:hover{
    text-decoration: underline;
} */
nav ul li {
    text-transform: uppercase;
    
}
.logo{
    color: #ffb400!important;
}
  .nav-link.active,
  .nav-link:focus{
    border-top: 0.1875rem solid #ffb400!important;
}